.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
.modal {
  margin: 0;
  padding: 0;
}

.modal-content {
  padding: 0;
  margin: 0px;
  border-radius: 10px;
  max-width: none;
}

.modal-dialog {
  max-height: none;
  margin-right: auto; /* flytta login form närmare höger */
}

.image-container {
  width: 700px !important;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
}

.image-container img {
  width: 460px;
  height: 680px;
  object-fit: cover;
  border-radius: 0;
  border: none;
}

.form-control {
  width: 200px;
  max-width: 300px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: -2px;
}

.button-cancel {
  margin-left: -10px;
  margin-right: 40px;
}

.modal-body {
  margin-bottom: 20px;
}

.static-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-modal {
  display: flex;
  width: 460px;
  height: 680px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none; /* ta bort box-shadow */
}


.custom-modal .modal-content {
  border: none !important;
  box-shadow: none;
}











  
  
  
  
